<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Add New Blog</title>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <div class="container mt-3">
    <form action="/blog" method="post" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="title" class="form-label">Cover Image</label>
        <input
          type="file"
          class="form-control"
          id="CoverImage"
          aria-describedby="CoverImage"
          name="CoverImage"
        />
    </div>
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          aria-describedby="emailHelp"
          name="title"
        />
    </div>
      <div class="mb-3">
          <label for="body">Body</label>
        <textarea class="form-control" id="body" name="body"></textarea>
    </div>
      <div class="mb-3">
          <button class="btn btn-primary">Submit</button>
    </div>

    </form>
</div>
    <%- include('./partials/script.js') %>
  </body>
</html>
